doctype html
html(lang='en')
	head
		title Chat
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/chat.css' type='text/css' rel='stylesheet')
	body
		.container
			#chat_window_1.row.chat-window.col-xs-5.col-md-10.col-md-push-1
				.col-xs-12.col-md-12
					.panel.panel-default
						.panel-heading.top-bar
							.col-md-8.col-xs-8
								h3.panel-title
									span.glyphicon.glyphicon-comment
									|  Chat - Emma
							.col-md-4.col-xs-4(style='text-align: right;')
								a(href='#')
									span#minim_chat_window.glyphicon.glyphicon-minus.icon_minim
								a(href='#')
									span.glyphicon.glyphicon-remove.icon_close(data-id='chat_window_1')
						each activity in user.activities
							if activity.status === false
								.panel-body.msg_container_base
									form(method='post', action='/chat')
										.row.msg_container.base_sent
											.col-md-10.col-xs-10
												.messages.msg_sent
													input#access_token(type='hidden', value=activity.id)
													p
														| Your friend #{activity.plannerName} has invited you to #{activity.categorie}
														| on #{activity.date} at #{activity.time} in #{activity.location}
													time(datetime='2009-11-13T20:00') Timothy • 51 min
											.col-md-2.col-xs-2.avatar
												img.img-responsive(src='')
										button.btn.btn-primary#button_1(value='Accept') Accept
										button.btn.btn-danger#button_2(value='Decline') Decline	
							else		
								.panel-body.msg_container_base
									.row.msg_container.base_sent
										.col-md-10.col-xs-10
											.messages.msg_sent
												p
													| Your friend #{activity.plannerName} has invited you to #{activity.categorie}
													| on #{activity.date} at #{activity.time} in #{activity.location}
												time(datetime='2009-11-13T20:00') Timothy • 51 min
										.col-md-2.col-xs-2.avatar
											img.img-responsive(src='')
									p This activity has been accepted			
							//- .row.msg_container.base_receive
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- 	.col-md-10.col-xs-10
							//- 		.messages.msg_receive
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- .row.msg_container.base_receive
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- 	.col-xs-10.col-md-10
							//- 		.messages.msg_receive
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- .row.msg_container.base_sent
							//- 	.col-xs-10.col-md-10
							//- 		.messages.msg_sent
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- .row.msg_container.base_receive
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- 	.col-xs-10.col-md-10
							//- 		.messages.msg_receive
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- .row.msg_container.base_sent
							//- 	.col-md-10.col-xs-10
							//- 		.messages.msg_sent
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
						.panel-footer
							.input-group
								input#btn-input.form-control.input-sm.chat_input(type='text', placeholder='Write your message here...')
								span.input-group-btn
									button#btn-chat.btn.btn-primary.btn-sm Send
			.btn-group.dropup
				button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
					span.glyphicon.glyphicon-cog
					span.sr-only Toggle Dropdown
				ul.dropdown-menu(role='menu')
					li
						a#new_chat(href='#')
							span.glyphicon.glyphicon-plus
							|  Novo
					li
						a(href='#')
							span.glyphicon.glyphicon-list
							|  Ver outras
					li
						a(href='#')
							span.glyphicon.glyphicon-remove
							|  Fechar Tudo
					li.divider
					li
						a(href='#')
							span.glyphicon.glyphicon-eye-close
							|  Invisivel
			script(src='js/jquery-3.2.1.js')
			script(src='js/chat.js')