doctype html
html(lang='en')
	head
		title Chat
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		include fonts
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/chat.css' type='text/css' rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		include topNavbar
		.container-fluid.app1
			.row.heading
				.col-sm-2.col-md-1.col-xs-3.heading-avatar
					.heading-avatar-icon
						img(src='img/emma.png')
				.col-xs-7.heading-name
					a.heading-name-meta
						| Emma
				.col-sm-1.col-xs-1.heading-dot.pull-right
					i.fa.fa-ellipsis-v.fa-2x.pull-right(aria-hidden='true')
			each activity in user.activities
				if activity.status === false
					form(method='post', action='/chat')
						input#access_token(type='hidden', value=activity.id)
						input#planner(type='hidden', value=activity.plannerId)
						.col-md-12.col-sm-12.col-xs-12
							.message-main-receiver
								.receiver
									.message-text
										.col-xs-11.message-maintext
											| Hallo #{currentUserName},
											<br>
											| Jouw vriend #{activity.plannerName} heeft je uitgenodigd om #{activity.categorie}
											| op #{activity.date} om #{activity.time} in #{activity.location}
										span.message-time.pull-right
											| Zon
										button.btn.btn-primary#button_1(value='Accept') Accept
										button.btn.btn-danger#button_2(value='Decline') Decline
				else
					.incomingMessages
						.col-md-12.col-sm-12.col-xs-12
							.message-main-receiver
								.receiver
									.message-text
										.col-xs-11.message-maintext
											| Hallo #{currentUserName}
											| Jouw vriend #{activity.plannerName} heeft je uitgenodigd om te #{activity.categorie}
											| op #{activity.date} om #{activity.time} in #{activity.location}
										p.activity-accepted Geaccepteerd
										span.message-time.pull-right
											| Zon
			.row.rowStyle
				.col-md-12.col-sm-12.col-xs-12.rowStyle
		.row.reply.navbar-fixed-bottom
			.col-sm-1.col-xs-1.reply-emojis
				i.fa.fa-smile-o.fa-2x
			.col-sm-9.col-xs-9.reply-main
				textarea#comment.form-control(rows='1')
			.col-sm-1.col-xs-1.reply-recording
				i.fa.fa-microphone.fa-2x(aria-hidden='true')
			.col-sm-1.col-xs-1.reply-send
				i.fa.fa-send.fa-2x(aria-hidden='true')
		include bottomNavbar
		script(src='js/jquery-3.2.1.js')
		script(src='js/chat.js')