doctype html
html(lang='en')
	head
		title Chat
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/chat.css' type='text/css' rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	body
		include topNavbar
		.container
			.container.app
				.row.app-one
					each activity in user.activities
						if activity.status === false
							form(method='post', action='/chat')
								.col-md-12.col-sm-12.side.conversation
									input#access_token(type='hidden', value=activity.id)
									input#planner(type='hidden', value=activity.plannerId)
									.row.heading
										.col-sm-2.col-md-1.col-xs-3.heading-avatar
											.heading-avatar-icon
												img(src='img/emma.png')
										.col-xs-7.heading-name
											a.heading-name-meta
												| Emma
											span.heading-online Online
										.col-sm-1.col-xs-1.heading-dot.pull-right
											i.fa.fa-ellipsis-v.fa-2x.pull-right(aria-hidden='true')
									#conversation.row.message
										.row.message-previous
											.col-xs-12.previous
												a#ankitjain28(onclick='previous(this)', name='20')
													| Show Previous Message!
										.row.message-body
											.col-xs-12.message-main-receiver
												.receiver
													.message-text
														| Your friend #{activity.plannerName} has invited you to #{activity.categorie}
														| on #{activity.date} at #{activity.time} in #{activity.location}
													span.message-time.pull-right
														| Sun
													button.btn.btn-primary#button_1(value='Accept', class=activity.id) Accept
													button.btn.btn-danger#button_2(value='Decline', class=activity.id) Decline
						else
							.col-md-12.col-sm-12.conversation
								.row.heading
									.col-sm-2.col-md-3.col-xs-3.heading-avatar
										.heading-avatar-icon
											img(src='img/emma.png')
									.col-sm-10.col-xs-7.heading-name
										a.heading-name-meta
											| Emma
										span.heading-online Online
									.col-sm-1.col-xs-1.heading-dot.pull-right
										i.fa.fa-ellipsis-v.fa-2x.pull-right(aria-hidden='true')
								#conversation.row.message
									.row.message-previous
										.col-sm-12.previous
											a#ankitjain28(onclick='previous(this)', name='20')
												| Show Previous Message!
									.row.message-body
										.col-xs-12.message-main-receiver
											.receiver
												.message-text
													| Your friend #{activity.plannerName} has invited you to #{activity.categorie}
													| on #{activity.date} at #{activity.time} in #{activity.location}
												span.message-time.pull-right
													| Sun
												p This activity has been accepted

			//- #chat_window_1.row.chat-window.col-xs-5.col-md-10.col-md-push-1
			//- 	.col-xs-12.col-md-12 
			//- 		.panel.panel-default
			//- 			.panel-heading.top-bar
			//- 				.col-md-8.col-xs-8
			//- 					h3.panel-title
			//- 						span.glyphicon.glyphicon-comment
			//- 						|  Chat - Emma
			//- 				.col-md-4.col-xs-4(style='text-align: right;')
			//- 					a(href='#')
			//- 						span#minim_chat_window.glyphicon.glyphicon-minus.icon_minim
			//- 					a(href='#')
			//- 						span.glyphicon.glyphicon-remove.icon_close(data-id='chat_window_1')
			//- 			each activity in user.activities
			//- 				if activity.status === false
			//- 					.panel-body.msg_container_base
			//- 						form(method='post', action='/chat')
			//- 							.row.msg_container.base_sent
			//- 								.col-md-10.col-xs-10
			//- 									.messages.msg_sent
			//- 										input#access_token(type='hidden', value=activity.id)
			//- 										input#planner(type='hidden', value=activity.plannerId)
			//- 										p
			//- 											| Your friend #{activity.plannerName} has invited you to #{activity.categorie}
			//- 											| on #{activity.date} at #{activity.time} in #{activity.location}
			//- 										time(datetime='2009-11-13T20:00') Timothy • 51 min
			//- 								.col-md-2.col-xs-2.avatar
			//- 									img.img-responsive(src='')
			//- 							button.btn.btn-primary#button_1(value='Accept', class=activity.id) Accept
			//- 							button.btn.btn-danger#button_2(value='Decline', class=activity.id) Decline	
			//- 				else		
			//- 					.panel-body.msg_container_base
			//- 						.row.msg_container.base_sent
			//- 							.col-md-10.col-xs-10
			//- 								.messages.msg_sent
			//- 									p
			//- 										| Your friend #{activity.plannerName} has invited you to #{activity.categorie}
			//- 										| on #{activity.date} at #{activity.time} in #{activity.location}
			//- 									time(datetime='2009-11-13T20:00') Timothy • 51 min
			//- 							.col-md-2.col-xs-2.avatar
			//- 								img.img-responsive(src='')
			//- 						p This activity has been accepted		
							//- .row.msg_container.base_receive
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- 	.col-md-10.col-xs-10
							//- 		.messages.msg_receive
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- .row.msg_container.base_receive
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- 	.col-xs-10.col-md-10
							//- 		.messages.msg_receive
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- .row.msg_container.base_sent
							//- 	.col-xs-10.col-md-10
							//- 		.messages.msg_sent
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- .row.msg_container.base_receive
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
							//- 	.col-xs-10.col-md-10
							//- 		.messages.msg_receive
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- .row.msg_container.base_sent
							//- 	.col-md-10.col-xs-10
							//- 		.messages.msg_sent
							//- 			p
							//- 				| that mongodb thing looks good, huh?
							//- 				| tiny master db, and huge document store
							//- 			time(datetime='2009-11-13T20:00') Timothy • 51 min
							//- 	.col-md-2.col-xs-2.avatar
							//- 		img.img-responsive(src='http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg')
						.panel-footer
							.input-group
								input#btn-input.form-control.input-sm.chat_input(type='text', placeholder='Write your message here...')
								span.input-group-btn
									button#btn-chat.btn.btn-primary.btn-sm Send
			//- .btn-group.dropup
			//- 	button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
			//- 		span.glyphicon.glyphicon-cog
			//- 		span.sr-only Toggle Dropdown
			//- 	ul.dropdown-menu(role='menu')
			//- 		li
			//- 			a#new_chat(href='#')
			//- 				span.glyphicon.glyphicon-plus
			//- 				|  Novo
			//- 		li
			//- 			a(href='#')
			//- 				span.glyphicon.glyphicon-list
			//- 				|  Ver outras
			//- 		li
			//- 			a(href='#')
			//- 				span.glyphicon.glyphicon-remove
			//- 				|  Fechar Tudo
			//- 		li.divider
			//- 		li
			//- 			a(href='#')
			//- 				span.glyphicon.glyphicon-eye-close
			//- 				|  Invisivel
		include bottomNavbar
		//- include bottomNavbar
		script(src='js/jquery-3.2.1.js')
		script(src='js/chat.js')