//- doctype html
//- html(lang='en')
//- 	head
//- 		title Activiteit
//- 		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
//- 		include bottomNavbarStyle
//- 		link(href ='css/friends.css' type='text/css' rel='stylesheet')
//- 		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
//- 		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
//- 		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
//- 		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
//- 	body
//- 		.container
//- 			form(method='post', action='/friends?categorie=' + categorie, autocomplete="off")
//- 				.col-md-9.col-sm-offset-2.col-sm-10.col-sm-offset-1
//- 					div.choose
//- 						h1 Selecteer vrienden
//- 						.checkbox
//- 							label
//- 								input(type='checkbox', onclick='toggle(this)') 
//- 								h3.names Iedereen uitnodiging
//- 						each friend in friends
//- 							.checkbox
//- 								label
//- 									input(type='checkbox', name='friends',id="name" ,value= friend.id)
//- 									//- input(name='friendId' , type='hidden',value=friend.id)
//- 									//- img.image(src=friend.img)
//- 									h3.names #{friend.name}
//- 					button.btn.btn-success.btn-lg.submit(type='submit') Volgende	
//- 				//- .col-md-9.col-sm-offset-2.col-sm-10.col-sm-offset-1
//- 				//- 	div.when
//- 				//- 		h1 When do you want help?
//- 				//- 		input#registration-date.form-control(name='date', type='date')
//- 				//- 		input#registration-time.form-control(name='time', type='time')
//- 				//- 		span.input-group-btn
//- 				//- 			button.btn.btn-default(type='button', onclick='addNow()')
//- 				//- 				span.glyphicon.glyphicon-map-marker(aria-hidden='true')
//- 				//- 				|  Now
//- 				//- 			button.btn.btn-default(type='button', onclick='stopNow()')
//- 				//- 				span.glyphicon.glyphicon-minus-sign(aria-hidden='true')
//- 				//- 				|  Stop
//- 				//- .col-md-9.col-sm-offset-2.col-sm-10.col-sm-offset-1
//- 				//- 	div.where
//- 				//- 		h1 Where do you want help?
//- 				//- 		.radio
//- 				//- 			label
//- 				//- 			input(type='radio', name='location', value='My current location')
//- 				//- 			| My current location
//- 				//- 		.radio
//- 				//- 			label
//- 				//- 			input(type='radio', name='location', value='Somewhere else')
//- 				//- 			| Somewhere else
//- 					button.btn.btn-success.btn-lg.submit(type='submit') Plan Activity!
//- 		include bottomNavbar
//- 	script(src='http://momentjs.com/downloads/moment-with-locales.js')
//- 	script(src='http://momentjs.com/downloads/moment-timezone-with-data.js')
//- 	script(src='js/jquery-3.2.1.js')
//- 	script(src='js/friends.js')

doctype html
html(lang='en')
	head
		title Activity
		//- link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		include bottomNavbarStyle
		link(href ='css/addFriends.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		include topNavbar
		.row.rowStyle.text-center
			h4 Inner Circle
		.container
			.text-center
				.text-left.clickNames.wrapper-one
					form.wrapper-one(action='/addFriends', method='post', role='form')
						.checkbox.selectAll
							label

								//- input(type='checkbox', onclick='toggle(this)') 
								//- h3.selectAllStyle Select All

								input(type="checkbox", onclick='toggle(this)')
								span.cr
									i.cr-icon.glyphicon.glyphicon-ok
								h3.text-center.selectAllStyle Iedereen Uitnodigen
						each friend in friends
							//- .checkbox.checkBoxStyle.boks.checkbox-circle
							.checkbox.selectOne
								label
									input(type='checkbox', name='friends',id="name" ,value= friend.id)
									span.cr
										i.cr-icon.glyphicon.glyphicon-ok
										h3.names.text-center #{friend.name}
								
								img.foto(src=friend.img)
						.doorgaan.text-center
							button.btn.btn-success.btn-lg.submit(type='submit') Volgende
				include bottomNavbar			
		script(src='http://momentjs.com/downloads/moment-with-locales.js')
		script(src='http://momentjs.com/downloads/moment-timezone-with-data.js')
		script(src='js/jquery-3.2.1.js')
		script(src='js/friends.js')
		script(src='js/activity.js')