doctype html
html(lang='en')
	head 
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/index.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-6.left.edit
				.col-xs-6.right.edit
				//- img.image(src='img/kwfLogo.png')
		.container
			.text-center
				h1.header Geplande Activiteiten van #{user.name}
				button.btn.btn-lg.btn-primary
					a.btn.btn-primary(href="/activity") Een nieuwe activiteit plannen
				br
				//- if activities
				//- 	each activity in activities
				//- 		if activity.status === true
				//- 		//- each user in activity.users
				//- 			//- Id the current user is the planner
				//- 			//- If the user is the one who accepted
				//- 			if activity.accepter === currentUserId
				//- 				each user in activity.users
				//- 					if user.id === activity.plannerId
				//- 						img(src=user.image)
				//- 						h3 #{activity.categorie} met #{user.name}
				//- 			//- If the user is the one who planned
				//- 			else if activity.plannerId === currentUserId
				//- 				each user in activity.users
				//- 					if user.id === activity.accepter
				//- 						img(src=user.image)
				//- 						h3 #{activity.categorie} met #{user.name}
				//- 			p  om #{activity.date} #{activity.time}
				//- 			p in #{activity.location}
				each activity in user.activities
						if activity.status === true
							//- if statement not working
							//- if activity.plannerId === user.id
							//- 	.wrap
							//- 		each user in activity.users
							//- 			if user.id === activity.accepter
							//- 				img(src=user.image)
							//- 		h3 #{activity.categorie} met #{activity.accepter}
							//- 		p  om #{activity.date} #{activity.time}
							//- 		p in #{activity.location}
							//- else if activity.accepter === user.id
							.wrap
								//- If the user is the one who accepted
								if activity.accepter === currentUserId
									each user in activity.users
										if user.id === activity.plannerId
											img(src=user.image)
											h3 #{activity.categorie} met #{user.name}
											p  in #{activity.date} om #{activity.time}
											p in #{activity.location}
								//- If the user is the one who planned
								else if activity.plannerId === currentUserId
									each user in activity.users
										if user.id === activity.accepter
											img(src=user.image)
											h3 #{activity.categorie} met #{user.name}
											p  in #{activity.date} om #{activity.time}
											p in #{activity.location}							
		include bottomNavbar