doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/index.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			.text-center
				h1 Welcome #{user}
				br
				table.table
					thead
						tr
							th Activity
							th Friends
							th Time
							th Location
					each activity in activities
						tbody
							tr
								td #{activity.categorie}
								td #{activity.friend}
								td #{activity.time}
								td #{activity.location}
			.d-inline-flex.p-2
				.d-flex.justify-content-around
					nav.navbar-fixed-bottom.navbar.navbar-default
						ul.nav.navbar-nav
							li.active
								a(href="/logout") Logout	
							li
								a(href='addFriends') Add Friends
							li
								a(href='/activity') Plan Activity
							li
								a(href='#') Notifications