doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href ='css/index.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
	body
		.container
			.text-center
				h1 Welcome #{user.name}
				br
				table.table
					thead
						tr
							th Activity
							th From
							th Time
							th Location
					each activity in user.activities
						tbody
							tr
								td #{activity.categorie}
								td #{activity.plannerId}
								td #{activity.date} om #{activity.time}
								td #{activity.location}
		nav.navbar-fixed-bottom.navbar.navbar-default
			.container
				.row
					ul.nav.nav-justified
						li.active
							a(href="/activity") Plan Activity
						li
							a(href='/addFriends') Add Friends
						li
							a(href='/notification') Notification
						li
							a(href='/profile') Profile