doctype html
html(lang='en')
	head 
		title Index
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		include fonts
		link(href ='css/index.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' rel='stylesheet')
	body
		.row.styleRowTop
			.col-xs-2.styleBackButton
				a(href='javascript:history.back()')
					i.backBtn.fa.fa-chevron-left.fa-lg(aria-hidden='true')
		nav.navbar.navbar-default.extraStyleNav
			.row
				.col-xs-12
					.col-xs-6.left.edit
					.col-xs-6.right.edit
					//- img.image(src='img/kwfLogo.png')
		.container
			.text-center
				h1.header Activiteiten van #{user.name}
				//- if activities
				//- 	each activity in activities
				//- 		if activity.status === true
				//- 		//- each user in activity.users
				//- 			//- Id the current user is the planner
				//- 			//- If the user is the one who accepted
				//- 			if activity.accepter === currentUserId
				//- 				each user in activity.users
				//- 					if user.id === activity.plannerId
				//- 						img(src=user.image)
				//- 						h3 #{activity.categorie} met #{user.name}
				//- 			//- If the user is the one who planned
				//- 			else if activity.plannerId === currentUserId
				//- 				each user in activity.users
				//- 					if user.id === activity.accepter
				//- 						img(src=user.image)
				//- 						h3 #{activity.categorie} met #{user.name}
				//- 			p  om #{activity.date} #{activity.time}
				//- 			p in #{activity.location}
			if statusActivities === false
				.flex-col.NoActivity
					.flex-row
						.check.text-center
							img.imageOne.NoActivityEmma(src='img/emma.png')
						.check.tekstbubbels
							.talk-bubble
								.talktext
									p.text-center
										| Je hebt op dit moment nog geen activiteiten gepland staan.
							.talk-bubble
								.talktext
									p.text-center
										| Klik op de button hieronder om een activiteit te plannen of ga naar berichten om een activiteit te accepteren
				.doorgaan.text-center.noActivityDoorgaan
					a.btn.btn-md.change.NoActivityPlannen(href="/activity") Een activiteit plannen
			else
				.button.doorgaan.text-center
					a.btn.btn-md.change.nieuweActiviteit(href="/activity") Een nieuwe activiteit plannen
					each activity in user.activities
						if activity.status === true
							//- if activity.plannerId === user.id
							//- 	.wrap
							//- 		each user in activity.users
							//- 			if user.id === activity.accepter
							//- 				img(src=user.image)
							//- 		h3 #{activity.categorie} met #{activity.accepter}
							//- 		p  om #{activity.date} #{activity.time}
							//- 		p in #{activity.location}
							//- else if activity.accepter === user.id
							.wrap
								//- If the user is the one who accepted
								if activity.accepter === currentUserId
									each user in activity.users
										if user.id === activity.plannerId
											.col-xs-12
												.col-xs-3
													img.image2(src=user.image)
												.col-xs-7.col-xs-push-2
													h3.styleActivity #{activity.categorie} <span class='met'>met</span> #{user.name}
													p.styleActivity  <span class='met'>op</span> #{activity.date} <span class='met'>om</span> #{activity.time}
													p.styleActivity <span class='met'>in</span> #{activity.location}
								//- If the user is the one who planned
								else if activity.plannerId === currentUserId
									each user in activity.users
										if user.id === activity.accepter
											.col-xs-12
												.col-xs-3
													img.image2(src=user.image)
												.col-xs-7.col-xs-push-2
													h3.styleActivity #{activity.categorie} <span class='met'>met</span> #{user.name}
													p.styleActivity  <span class='met'>in</span> #{activity.date} <span class='met'>om</span> #{activity.time}
													p.styleActivity <span class='met'>in</span> #{activity.location}

		include bottomNavbar		
		//- 			if activity.status === true
		//- 				//- if activity.plannerId === user.id
		//- 				//- 	.wrap
		//- 				//- 		each user in activity.users
		//- 				//- 			if user.id === activity.accepter
		//- 				//- 				img(src=user.image)
		//- 				//- 		h3 #{activity.categorie} met #{activity.accepter}
		//- 				//- 		p  om #{activity.date} #{activity.time}
		//- 				//- 		p in #{activity.location}
		//- 				//- else if activity.accepter === user.id
		//- 				.wrap
		//- 					//- If the user is the one who accepted
		//- 					if activity.accepter === currentUserId
		//- 						each user in activity.users
		//- 							if user.id === activity.plannerId
		//- 								.row
		//- 									.col-xs-12
		//- 										.col-xs-3.col-xs-push-3
		//- 											img(src=user.image)
		//- 										.col-xs-4.col-xs-push-1
		//- 											h3 #{activity.categorie} met #{user.name}
		//- 											p  in #{activity.date} om #{activity.time}
		//- 											p in #{activity.location}
		//- 					//- If the user is the one who planned
		//- 					else if activity.plannerId === currentUserId
		//- 						each user in activity.users
		//- 							if user.id === activity.accepter
		//- 								.row.activity
		//- 									.col-xs-12
		//- 										.col-xs-3.col-xs-push-3
		//- 											img(src=user.image)
		//- 										.col-xs-4.col-xs-push-1
		//- 											h3 #{activity.categorie} met #{user.name}
		//- 											p  in #{activity.date} om #{activity.time}
		//- 											p in #{activity.location}							
		//- include bottomNavbar