doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/profile.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
	body
		include topNavbar
		.container
			.row
				.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center.welkom
					h3.text-center Welkom #{user.name}
					img.profilePic(src=user.image)
			.row
				.col-md-4.col-md-push-4.col-xs-10.col-xs-push-1.text-center.fotoProfile
					img.badges(src='img/profile.png')
			if friends
				.row
					.dropdown.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
						button.dropbtn.buttonStyle(onclick="myFunction()") Vrienden	
				.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
					a.button-two.btn.btn-danger.btn-outline.uitlogStyle(type='button' href='/logout') Uitloggen
					#myDropdown.dropdown-content
						.wrapper-one
							each friend in friends
								.boks
									h3.names.text-center #{friend.dataValues.name}
									img.foto(src=friend.dataValues.image)
			else
				.row
					.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
						a.btn.btn-success.submitStyle(href="/addFriends") Voeg Vrienden Toe
				.row
					.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
						a.btn.btn-danger.buttonStyle(href="/logout") Uitloggen
		include bottomNavbar
	script(src='js/profile.js')