doctype html
html(lang='en')
	head
		title Activity
		link(href ='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		include bottomNavbarStyle
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(href ='css/profile.css' type='text/css' rel='stylesheet')
		link(href ='css/bottomNavbar.css' type='text/css' rel='stylesheet')
		link(href ='css/topNavbar.css' type='text/css' rel='stylesheet')
	body
		nav.navbar-fixed-top.navbar.navbar-default
			.row
				.col-xs-12
					.col-xs-6.left.edit
						.row
							.col-xs-2
								a(href='javascript:history.back()')
									i.backBtn.fa.fa-chevron-left.fa-lg(aria-hidden='true')
					.col-xs-6.right.edit
					img.image(src='img/kwfLogo.png')
		.container
			.row
				.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-center.welkom
					h3.text-center Welkom #{user.name}
					img.profilePic(src=user.image)
			.row
				.col-md-4.col-md-push-4.col-xs-10.col-xs-push-1.text-center.fotoProfile
					img.badges(src='img/profile.png')
		if friends
			.dropdown.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
				button.dropbtn.buttonStyle(onclick="myFunction()") Vrienden
				a.button-two.btn.btn-danger.btn-outline.uitlogStyle(type='button' href='/logout') Uitloggen
				#myDropdown.dropdown-content
					.wrapper-one
						each friend in friends
							.boks
								h3.names.text-center #{friend.dataValues.name}
								img.foto(src=friend.dataValues.image)
		else
			.col-md-4.col-md-push-4.col-xs-8.col-xs-push-2.text-center
				a.btn.btn-success.btn.submit.submitStyle(href="/addFriends") Voeg Vrienden Toe
		//- Button.col-md-6.col-md-push-3.col-xs-8.col-xs-push-2.text-centertext-center(type='button')
		//- 	a(href='/logout') Log out
		include bottomNavbar
	script(src='js/profile.js')